<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>oauth2-servlet</display-name>
  <servlet>
    <servlet-name>oauth2-servlet</servlet-name>
    <servlet-class>com.ibm.api.Server</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oauth2-servlet</servlet-name>
    <url-pattern>/oauth2/auth</url-pattern>
    <url-pattern>/oauth2/code</url-pattern>
    <url-pattern>/me</url-pattern>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>integration.html</welcome-file>
  </welcome-file-list>
</web-app>